/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* date range styles */
.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrStarEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span::after {
    background-color: #FFF !important;
}

.rdrDayToday .rdrDayNumber span:after {
    background-color: #2bb97e !important;
}

.rdrMonthAndYearPickers {
    font-size: 16px;
}

.rdrDayNumber, .rdrWeekday {
    color: #d9f010 !important;
    font-weight: 200 !important;

}


/* swiper styles */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
        background-color: #f13024;
    }



@layer base {
    body {
        @apply text-primary dark:text-white bg-body dark:bg-gray-950;
    }

    p {
        @apply text-secondary;
    }

    .h1 {
        @apply text-4xl xl:text-[64px] text-primary dark:text-white xl:leading-[72px] font-extrabold mb-[18px];
    }

    .h2 {
        @apply text-4xl mb-6 font-bold;
    }

    h3 {
        @apply text-xl mb-4 font-semibold;
    }

    .description {
        @apply text-base xl:text-xl xl:leading-8 dark:text-white;
    }

    .section {
        @apply w-full h-[85vh] pt-[20px];
    }

    .btn {
        @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
    }

    .btn-sm {
        @apply h-14;
    }

    .btn-lg {
        @apply h-16;
    }

    .btn-cta {
        @apply bg-primary dark:bg-black h-[54px] rounded-[5px] px-4 transition-all duration-300;
    }

    .btn-primary {
        @apply bg-primary text-white dark:bg-white dark:text-primary;
    }

    .btn-secondary {
        @apply bg-secondary;
    }

    .btn-accent {
        @apply bg-accent hover:bg-accent-hover;
    }

    .active {
        @apply text-accent dark:bg-white dark:bg-opacity-10 dark:px-3 dark:py-1 dark:-mt-1 dark:rounded-md;
    }

    .menuHoverDark {
        @apply dark:hover:bg-gradient-to-tr from-gray-800 to-gray-950 dark:hover:mx-auto dark:hover:w-5/6 dark:hover:rounded-lg 
    }
    .menuItemDark {
        @apply dark:bg-gradient-to-tr from-gray-700 to-gray-900 
    }

    .rdrCalendarWrapper {
        @apply bg-red-500
}
    .rdrMonth {
        @apply bg-yellow-400
    }
   
}


